/* Footer Styles */
.footer {
  color: #fff;
  background-color: var(--theme-background--dark-2);
}

.footer-grid.grid-3 {
  align-items: center;
}

/* Logo section */

.footer-logo-wrapper .logo-link {
  display: inline-block;
  max-width: 9rem;
}

.footer-logo-wrapper .logo-image {
  max-width: 100%;
  height: auto;
}

/* Navigation links */
.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--grid-gap-1rem);
}

.footer-nav-item {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-nav-item:hover {
  color: #aaa;
}

/* Contact section */
.footer-contact {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social-media-icon,
.contact-icon {
  width: 1.25rem;
  height: 1.25rem;
  transition: opacity 0.3s ease;
}

.social-media-link:hover .social-media-icon,
.contact-icon:hover {
  opacity: 0.75;
}

.contact-link {
  transition: color 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 991px) {
  .footer-grid {
    text-align: center;
  }
}
