/* hero component */

.home-hero__component {
  grid-gap: var(--grid-gap-standard);
}

/* content wrapper */

.home-hero__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  max-width: 65ch;
}

.home-hero.button-wrapper-group {
  width: 100%;
  justify-content: center;
}

/* right image wrapper */

.home-hero__image-grid {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  gap: 0.25rem;
}

.home-hero__image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
