/* ========== Hero Section ========= */

/* hero component */

.home-hero__component {
  grid-gap: var(--grid-gap-standard);
}

/* content wrapper */

.home-hero__content-wrapper {
  max-width: 65ch;
}

.home-hero.button-wrapper-group {
  width: 100%;
  justify-content: center;
}

/* image grid */

.home-hero__image-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 0.25rem;
  align-items: center;
  overflow-x: hidden;
  justify-content: center;
}

.home-hero__stacked-image-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-hero__image {
  width: auto;
  height: auto;
  object-fit: cover;
  /* max-width: none; */
}

/* ========== Quote Section ========= */

.home-quote__component {
  max-width: 56rem;
  margin: 0 auto;
}

.home-quote__text {
  font-weight: 100;
}

/* ========== Headshot Section ========= */

.home-headshot__component.grid-2 {
  align-items: center;
}

.home-headshot__image-wrapper.u-visual-wrap {
  aspect-ratio: 3/4;
}

.home-headshot__image.u-visual {
  object-position: center 80%;
}

/* ========== Commercial Section ========= */

.home-commercial__component.grid-2 {
  align-items: center;
  grid-template-columns: 1.75fr 1fr;
}

.home-commercial__image-wrapper.u-visual-wrap {
  aspect-ratio: 1/1;
}

@media screen and (max-width: 1010px) {
  .home-commercial__component.grid-2 {
    align-items: center;
    grid-template-columns: 1fr;
  }
  .home-commercial__content-wrapper {
    order: -1;
  }
}

/* ========== Experience Section ========= */

.home-experience__card-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  border-style: solid;
  border-color: var(--border-color-light);
  border-width: var(--border-width-main);
  border-radius: var(--radius-main);
  text-align: center;
}

.card__text {
  margin-top: auto;
}
/* ========== Results Section ========= */

.home-results__heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-results__image-wrapper.u-visual-wrap {
  aspect-ratio: 13.12/7.38;
}
