/* left content wrapper */

.home-hero__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.home-hero.button-wrapper {
  margin-top: 1rem;
}

/* right image wrapper */

.home-hero__image-wrapper {
  position: relative;
  aspect-ratio: 3/4;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.home-hero__image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
