---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/pages/home.css";
---

<BaseLayout>
  <section class="home-hero padding-vertical-sitewide">
    <div class="container">
      <div class="home-hero__component grid-2">
        <div class="home-hero__content-wrapper">
          <h1 class="home-hero__heading heading-1">
            Dallas Headshot Photographer
          </h1>
          <p class="home-hero__paragraph">
            Professional Headshots that capture your best self. Stand out in
            Dallas with headshots that elevate your personal brand.
          </p>
          <div class="home-hero button-wrapper">
            <button class="button">Book a Session</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
