/* ==========================================================================
BUTTONS
========================================================================== */
:root {
  /*==================  Primary Button Styles *========================*/

  /* Primary default button border color */
  --button-border: var(--color-neutral-white-off);

  /* Primary default button background color */
  --button-background: var(--color-neutral-white);

  /* Primary default button text color */
  --button-text: var(--theme-text-alternate);

  /* Primary button border color on hover */
  --button-border-hover: var(--color-neutral-white);

  /* Primary button background color on hover */
  --button-background-hover: transparent;

  /* Primary button text color on hover */
  --button-text-hover: var(--theme-text-dark);

  /*==================  Secondary Button Styles ========================*/

  /* Secondary button border color */
  --button-secondary-border: var(--color-neutral-white);

  /* Secondary button background color */
  --button-secondary-background: transparent;

  /* Secondary button text color */
  --button-secondary-text: var(--theme-text-dark);

  /* Secondary button border color on hover */
  --button-secondary-border-hover: var(--color-neutral-white);

  /* Secondary button background color on hover */
  --button-secondary-background-hover: var(--color-neutral-white);

  /* Secondary button text color on hover */
  --button-secondary-text-hover: var(--theme-text-alternate);

  /*==================  Text Button Styles ========================*/

  /* Text button text color */
  --button-text-text: var(--color-neutral-black-off);

  /* Text button text color on hover */
  --button-text-text-hover: var(--color-brand-blue);
}
