/* ==========================================================================
       COLORS
     ========================================================================== */
:root {
  /*================== Brand Colors ========================*/

  --color-brand-white-faded: hsla(0, 0%, 100%, 0.65);
  --color-brand-black-faded: #151515;

  /*================== Neutral Colors ========================*/

  --color-neutral-black: #000;
  --color-neutral-white: #f8f8f8;
  --color-neutral-white-off: #fcfcfc;
  --color-neutral-lighter: #ccc;
  --color-neutral-light: #aaa;
  --color-neutral-medium: #666;
  --color-neutral-dark: #444;
  --color-neutral-darker: #222;
  --color-neutral-darkest: #111;
  --color-neutral-black-off: #0e0e0e;

  /*================== System Colors ========================*/

  --color-success-green: #cef5ca;
  --color-success-green-dark: #114e0b;
  --color-warning-yellow: #fcf8d8;
  --color-warning-yellow-dark: #5e5515;
  --color-error-red: #f8e4e4;
  --color-error-red-dark: #3b0b0b;
  --color-focus-state: #2d62ff;

  /*================== Theme Colors ========================*/

  --theme-background-light: var(--color-neutral-white-off);
  --theme-background--dark: var(--color-neutral-darker);
  --theme-background--dark-2: var(--color-neutral-darkest);

  --theme-text-dark: var(--color-neutral-white-off);
  --theme-text-dark-faded: var(--color-brand-white-faded);

  --theme-text-alternate: var(--color-neutral-black);

  /*================== Gradients ========================*/

  --gradient-primary-start: #3e6cff;
  --gradient-primary-end: #cd3eff;
  --gradient-secondary-start: #ff9b3e;
  --gradient-secondary-end: #ff3e3e;
}
