---

---

<section class="cta padding-vertical-sitewide">
  <div class="container">
    <div
      class="cta__layout display-flex flex-vertical flex-column align-items-center text-align-center max-width-large margin-auto radius-main background-color-secondary"
    >
      <div class="cta__heading heading-h2 margin-heading" data-splittext>
        Ready to Elevate Your Image?
      </div>
      <div class="cta__paragraph margin-paragraph" data-fade-in>
        Whether you’re looking to redefine your personal brand with a powerful
        headshot or seeking to capture the essence of your business, Casey Lewis
        Photography is here to bring your vision to life. Let’s create images
        that leave a lasting impression.
      </div>
      <div class="cta button-wrapper-group" data-fade-up>
        <a href="/contact" class="button">Book a Session</a>
      </div>
    </div>
  </div>
</section>

<style>
  /* ========== CTA Section ========= */

  .cta__layout {
    padding: 2rem;
    border: 0.5px solid var(--border-color-light);
  }
</style>
