---
import Image from "astro/components/Image.astro";
import caseyLewisPhotographyLogo from "../assets/casey-lewis-photography-logo.avif";
---

<!-- adding a class nav-open that will be targeted with Javascript to open the element based on user click We remove it by default, but will be added to javascript-->
<header class="header">
  <a href="/">
    <Image
      class="nav-logo"
      alt="Casey Lewis Photography Logo"
      src={caseyLewisPhotographyLogo}
    />
  </a>
  <nav class="navbar">
    <ul class="nav-list">
      <li><a class="nav-link hide" href="/about">About</a></li>
      <li><a class="nav-link" href="/contact">Contact</a></li>
      <li><a class="button" href="/contact">Book a Session</a></li>
    </ul>
  </nav>

  <button class="btn-mobile-nav">
    <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
    <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
  </button>
</header>

<script>
  // Make mobile navigation work
  const btnNavEl = document.querySelector(".btn-mobile-nav");
  const headerEl = document.querySelector(".header");

  if (btnNavEl && headerEl) {
    btnNavEl.addEventListener("click", function () {
      headerEl.classList.toggle("nav-open");
    });
  }
</script>

<!-- Ionicons and smoothscroll-polyfill scripts -->
<script
  defer
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script
  defer
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script
  defer
  src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
></script>
