/* ==========================================================================
   BUTTON STYLES
   ========================================================================== */

.button {
  border: var(--border-width-main) solid var(--button-border);
  border-radius: var(--radius-main);
  background-color: var(--button-background);
  font-family: var(--font-primary);
  color: var(--button-text);
  font-size: var(--text-regular-size);
  font-weight: var(--text-regular-weight);
  text-align: center;
  padding: 0.75rem 1.5rem;
  transition: border 0.25s, color 0.25s, background-color 0.25s;
  position: relative;
}

.button:hover {
  border-color: var(--button-border-hover);
  background-color: var(--button-background-hover);
  color: var(--button-text-hover);
}

.button.is-text {
  color: var(--button-text-text);
  background-color: transparent;
  border: 2px solid transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
}

.button.is-text:hover {
  color: var(--button-text-text-hover);
}

.button.is-small {
  padding: 0.55rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  border: var(--border-width-main) solid var(--button-secondary-border);
  background-color: var(--button-secondary-background);
  font-family: var(--font-primary);
  color: var(--button-secondary-text);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.button.is-secondary:hover {
  border-color: var(--button-secondary-border-hover);
  background-color: var(--button-secondary-background-hover);
  color: var(--button-secondary-text-hover);
}

.button.is-secondary.is-small {
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  position: relative;
}

.button.is-icon.is-text {
  color: var(--button-text-text);
  transition: color 0.25s;
}

.button.is-icon.is-text:hover {
  color: var(--button-text-text-hover);
}

.button.is-icon.is-text.is-breadcrumb {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 400;
}
